{% extends "nba_stats/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'nba_stats/img/principal2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">STATS</span>
            <span class="section-heading-lower">Best NBA stats</span>
          </h2>
          <p class="mb-3">All the NBA stats in one page
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Proyecto Final</span>
                <span class="section-heading-lower">Programacion Integrativa</span>
              </h2>
              <p class="mb-0">Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}    
