{% extends "nba_stats/base.html" %}
{% load static %}
{% block content %}
{% load custom_tags %}
<style>
    .player-container {
      display: flex;
    }

    .player-image {
      width: 200px;
      height: 200px;
      margin-right: 20px;
    }

    .player-info {
      margin-bottom: 20px;
    }

    .stats-table {
      width: 100%;
      border-collapse: collapse;
    }

    .stats-table th,
    .stats-table td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .stats-table th {
      background-color: #f2f2f2;
    }

    .generate-button {
      padding: 10px 20px;
      background-color: #ce3913;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .generate-button:hover {
      background-color: #eb1708;
    }

    .tablas{
      display: flex;
    }
  </style>
</head>
<body>
  <form action="/pruebas2/" method="post">
    {% csrf_token%}
    <label for="player_name">Player Name: </label>
    <input id="player_name" type="text" name="player_name" value="{{ player_name }}">
    <input type="submit" value="OK">
</form>
</body>
{% endblock %}