{% extends "nba_stats/base.html" %}

{% load static %}


{% block content %}

<!DOCTYPE html>
<html>

<head>
  <title>Teams</title>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>

<body>
  <h1>Teams:</h1>

  <form action="" method="post">
    {% csrf_token %}
    <label for="team_name">Team Name: </label>
    <input id="team_name" type="text" name="team_name" value="{{ team_name }}">
    <input type="submit" value="OK">
    <!-- <button id="search_button" type="button">Mapa</button> -->

  </form>

  {% if request.method == 'POST' %}
  {% if errors%}
    <p>No hemos encontrado el equipo, revise el nombre porfavor</p>
  {%else%}
  <h2>{{ teams.0.name }}</h2>
  <img src="{{ teams.0.logo }}">
  {% for player in players %}
  <p><a href="{% url 'nba_stats:player_detail' player_id=player.id %}">{{ player.firstname }} {{ player.lastname }}</a>
  </p>
  {% endfor %}


  <div id="map">

    <script>
      function initMap() {
        /*Se obtiene el nombre del Formulario*/

        var fullname = '{{teams.0.name}}' + ' NBA arena, USA';
        var geocoder = new google.maps.Geocoder();
        /*Se centra el mapa en la latitud y longitud 0*/
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: { lat: 0, lng: 0 },
        });
        /*Inicialización de la librería places de la api de google maps*/
        var placesService = new google.maps.places.PlacesService(map);
        /*Query para la búsqueda del estadio*/
        placesService.findPlaceFromQuery(
          {
            query: fullname,
            fields: ['geometry'],
          },
          function (results, status) {
            if (
              status === google.maps.places.PlacesServiceStatus.OK &&
              results &&
              results.length > 0
            ) {
              var place = results[0];
              var location = place.geometry.location;
              map.setCenter(location);
              var marker = new google.maps.Marker({
                map: map,
                position: location,
              });
            } else {
              alert('No se pudo encontrar la ubicación del estadio');
            }
          }
        );
      }

      /*función que asegura que el script se corra correctamente*/
      function loadGoogleMapsAPI() {
        var script = document.createElement('script');
        script.src =
          'https://maps.googleapis.com/maps/api/js?key=AIzaSyAxilgn74cwW2Tl_ieMpf9tPuvaPD98E_w&libraries=places&callback=initMap';
        document.head.appendChild(script);
      }
      /*Activador*/
      // var searchButton = document.getElementById('search_button');
      // searchButton.addEventListener('click', initMap);

      window.onload = loadGoogleMapsAPI;
    </script>
  </div>
  {% endif %}
  {% endif %}


</body>

</html>
{% endblock %}